.divCenterer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
  padding-left: 20px;
  padding-right: 20px;
}

.clickMe {
    text-decoration: none;
    color: grey;
    border-bottom: 1px black solid;
}